* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
  }
  
  
  header {
    margin-bottom: 2rem;
  }
  
  
  
  main {
    margin-bottom: 2rem;
  }
  
  
  
  section {
    margin-bottom: 2rem;
  }
  
  
  
  footer {
    margin-top: 2rem;
  }
  
  
  nav {
    margin-bottom: 2rem;
  }